* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #555;
}
a {
    color: #555;
}
a:hover {
    color: #555;
    text-decoration: underline;
}

.img-wrapper {
    max-width: 260px;
}
.resume-img {
    width: 100%;
}
.contact {
    margin: 50px 0 0 0px;
}
.social {
    line-height: 35px;
    text-align: right;
}
.social a{
    margin: 0 10px 0 0;
}
.person {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 19px;
    height: 79px;
    text-align: center;
}
.header{
    position: relative;
}
h1 {
    font-size: 35px;
    color: #000;
}
.role {
    font-size: 20px;
    color:#fff;
}
.main h2 {
    text-transform: uppercase;
}
.paragraph-line {
    border-bottom: 2px solid;
    height: 100%;
}
.period {
    font-weight: 700;
}
.achievement {
    font-size: 14px;
    margin-left:14px;
}
.sidebar {
    margin: 13px 10px 10px;
}
.main {
    margin-top: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .contact {
        text-align: center;
        margin: 50px 0 0 0px;
    }
    .social {
        line-height: 35px;
        text-align: right;
        margin: 0 5px;
    }
    .social a {
        margin: 0 5px 0 0;
    }
}
@media screen and (max-width: 992px) {
    .main h2 {
        font-size: 20px;
    }
}